<div class="card p-2 mt-3 cardheight">
    <div class="row">
        <div class="col-4">           
            <button class="btn btn-newPrimary p-12 text-white btncolor" (click)="syncCustomers()">Sync Customers</button>
        </div>
        <div class="col-4">
            <button class="btn btn-newPrimary p-12 text-white btncolor" (click)="syncCustomerOrders()">Sync Customer Orders</button>
        </div>
        <div class="col-4">
            <button class="btn btn-newPrimary p-12 text-white btncolor" (click)="syncCustomerLocations()">Sync Customer Locations</button>
        </div>
    </div>
</div>