<div class="content-wrapper pb-2" [formGroup]="userListForm">
    <div fxLayout="row" class="mx-3" fxLayout.lt-md="column" fxLayoutAlign="space-between center">
        <div fxFlex="50%" fxLayoutAlign.lt-md="start center">
            <mat-form-field appearance="outline" class="input-pdt fs-16 searchBox">
                <mat-icon matPrefix class="sub-prefix">search</mat-icon>
                <input matInput placeholder="Search User" formControlName="searchBy" trim>
                <mat-icon *ngIf="userListForm?.controls?.searchBy?.value?.length > 0" matSuffix
                    class="sub-prefix cursor" (click)="searchReset()">clear</mat-icon>
            </mat-form-field>
        </div>
        <div fxFlex fxLayout="row" fxLayoutAlign="end center" fxLayoutAlign.lt-md="start center"
            fxLayout.lt-sm="column">
            <button class="btn btn-newPrimary user-btn p-12 text-white btncolor" fxLAyoutAlign="start"
                routerLink="/users/add-user">Add New User</button> &nbsp; &nbsp;
            <!-- <button class="btn px-3 py-2 btnborder mb-sm-2 mb-md-0" ><i class="fa-solid fa-list-ul"></i> Filter by
            Role
        </button> -->
            <mat-form-field appearance="outline" class="mat-position input-pdt"
                *ngIf="![this.roleEnum.consignManager, this.roleEnum.serviceManager, this.roleEnum.customerManager].includes(this.loggedInUserRole)">
                <mat-label class="labelcolor"><i class="fa-solid fa-list-ul"></i> Filter by
                    Role</mat-label>
                <mat-select formControlName="roleId" (selectionChange)="resetPageIndex(); getUsers();">
                    <mat-option value="">
                        All
                    </mat-option>
                    <ng-container *ngFor="let role of allUserRoles">
                        <!-- <ng-container
                            *ngIf="this.loggedInUserRole === this.roleEnum.customerAdmin && (role.name === 'Customer User' || role.name === 'Customer Manager')">
                            <mat-option [value]="role.id">
                                {{role.name}}
                            </mat-option>
                        </ng-container>
                        <ng-container
                            *ngIf="this.loggedInUserRole === this.roleEnum.consignAdmin && ( role.name === 'Consignment Manager' || role.name === 'Consignment User')">
                            <mat-option [value]="role.id">
                                {{role.name}}
                            </mat-option>
                        </ng-container>
                        <ng-container
                            *ngIf="this.loggedInUserRole.includes(this.roleEnum.masterAdmin) || this.loggedInUserRole.includes(this.roleEnum.warehouseUser)">
                            <mat-option [value]="role.id">
                                {{role.name}}
                            </mat-option>
                        </ng-container> -->
                        <mat-option [value]="role.id">
                            {{role.name}}
                        </mat-option>
                    </ng-container>
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <div class="card mt-3 pt-3 px-3 py-0 table-responsive">
        <table class="table">
            <thead>
                <tr class="tablelight text-center">
                    <th width="5%">
                        Sr. No.
                    </th>
                    <th width="15%" (click)="sort('name')" class="cursor">
                      <div class="list-name-header text-center">
                        Name
                        <i class="fa fa-sort ms-2" aria-hidden="true"></i>
                      </div>
                    </th>
                    <th width="18%">Email Address</th>
                    <th width="12%">Role</th>
                    <th width="15%" (click)="sort('customer')" class="cursor">
                      <div class="list-customer-header text-center">
                        Customer
                        <i class="fa fa-sort ms-2" aria-hidden="true"></i>
                      </div>
                    </th>
                    <th width="15%" (click)="sort('location')" class="cursor">
                      <div class="list-location-header text-center">
                        Location
                        <i class="fa fa-sort ms-2" aria-hidden="true"></i>
                      </div>
                    </th>
                    <th width="12%">Phone No.</th>
                    <th width="8%"></th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngIf="items$ | async as users;">
                    <ng-container *ngIf="users && users.length > 0; else noData">
                        <tr class="text-center" *ngFor="let user of users; let i=index;">
                            <td>
                                {{pageSize * (userListForm?.getRawValue()?.pageNumber - 1) + i + 1}}
                            </td>
                            <td>{{user['firstName']|| '--'}} {{user['lastName']}}</td>
                            <td>
                                {{user['email'] || '--'}}
                            </td>
                            <td>
                                {{user['role'] || '--'}}
                            </td>
                            <td>
                                {{user['customerGroup']['name'] || '--'}}
                            </td>
                            <td>{{user['location']['name'] || '--'}}</td>
                            <td>{{user['phoneNumber'] || '--'}}</td>
                            <td><img class="cursor lg-w-20" src="../../../../assets/logos/EditP.svg"
                                    (click)="navigateToEditUser(user['id'])" title="Edit"> &nbsp; <img
                                    class="cursor lg-w-20" src="../../../../assets/logos/DeleteP.svg" title="Delete"
                                    (click)="openConfirmDeleteModal(user['id'])">
                                &nbsp; <img
                                    *ngIf="profileAccessRoles.includes(user['role']) && [this.roleEnum.masterAdmin].includes(loggedInUserRole)"
                                    class="cursor lg-w-20" title="Account Check-in"
                                    src="../../../../assets/logos/UserP.svg"
                                    (click)="confirmLoggedInAsUser(user['email'])">
                            </td>
                        </tr>
                    </ng-container>

                    <ng-template #noData>
                        <tr *ngIf="!isLoading">
                            <td colspan="9" class="bg-white">
                                <div class="text-center">
                                    <h3>No users found</h3>
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                </ng-container>
            </tbody>
        </table>
        <mat-paginator [length]="length" [pageIndex]="userListForm?.getRawValue()?.pageNumber - 1" [pageSize]="pageSize"
            [pageSizeOptions]="pageSizeOptions" (page)="paginator($event)" showFirstLastButtons
            aria-label="Select page">
        </mat-paginator>
    </div>

    <!-- <app-paginator class="d-flex justify-content-between align-items-center flex-wrap" [paginator]="paginator"
    [isLoading]="isLoading" (paginate)="paginate($event)"></app-paginator> -->
</div>
