mat-form-field {
    mat-icon {
        font-size: 27px;
        margin-right: 10px;
    }
}

.mat-form-field-wrapper {
    padding-bottom: 0;
    margin: 0 !important;
}

.bg-color {
    background-color: #8FABC9;
}

.half-width {
    width: 19%;
}



.theight {
    position: relative;
    height: 160px;
    overflow: hidden;
}

.tablehead {
    font-size: 12px !important;
    font-weight: 600 !important;
}

.tabledes {
    font-size: 14px !important;
}


@media screen and (min-width:1280px) and (max-width:1336px) {
    .example-full-width {
        width: 20%;
    }
}


@media only screen and (max-width:1279px) {
    .half-width {
        width: 50%;
    }

    .small-display {
        display: none;
    }
}

.res-card {
    border: 1px solid #ffffff;
    border-radius: 10px;
}