// *{
//     margin: 0;
//     padding: 0;
//     box-sizing: border-box;
// }
.detail-head {
    margin-bottom: .6rem;
}

.detail-para {
    font-weight: 700 !important;
}

.add-btn {
    position: relative;
    top: 5px;
    margin-right: 2px;
}

@media only screen and (max-width:1279px) {
    .small-display {
        display: none;
    }
}

.q-number {
    background-color: #8FABC9;
    color: white;
    border-radius: 5px;
    padding: 5px 15px
}