.sub-card {
    border: 2px solid #407ec9;
    font-size: 18px;
    text-align: center;
    width: 10rem;

    @media screen and (max-width: 1366px) {
        font-size: 16px;
        padding: .5rem;
    }
}

.arrow-position {
    position: absolute;
    left: 2%;
}

.mat-paginator {
    transform: translateY(0);
}

.mat-paginator-container {
    @media screen and (max-width: 1366px) {
        height: 56px;
    }
}

.noFilterContentScroller {
    @media screen and (max-width: 1366px) {
        max-height: calc(100vh - 6rem);
        padding-bottom: 0 !important;
    }
}

.bg-color {
    background-color: #8FABC9;
}

:host ::ng-deep .mat-input-element:disabled {
    color: #383737 !important;
    font-size: 14px;
}

.sm-date ::ng-deep .mat-form-field-infix {
    width: 153px;
}

.card .mat-form-field ::ng-deep .mat-form-field-infix {
    width: 153px;
}