:host ::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0;
}

:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
    padding-top: 1em;
}

:host ::ng-deep .mat-select-arrow-wrapper {
    transform: none !important;
}

:host ::ng-deep .mat-form-field-type-mat-native-select.mat-form-field-disabled .mat-form-field-infix::after,
.mat-input-element:disabled {

    font-size: 20px !important;
}


@media only screen and(max-width:1440px) {

    :host ::ng-deep .mat-form-field-type-mat-native-select.mat-form-field-disabled .mat-form-field-infix::after,
    .mat-input-element:disabled {

        font-size: 18px !important;
    }
}


.card {
    border: 1px solid white;
    border-radius: 9px;
}

// .cardheight{
//     position: relative;
//     height:600px;
// }


.label-position {
    transform: translateY(15px);
}

// .example-full-width {
//     width: 50%;
//   }

//   mat-form-field.mat-form-field {
//     font-size: 16px;
//     color: red;
// }

:host ::ng-deep .mat-select-value {
    color: #444444 !important;
}

:host ::ng-deep .mat-select-disabled .mat-select-value {
    color: grey !important;
}

.hint-text {
    color: #000000d6;
    font-size: 14px;
    font-weight: 500;
}

:host ::ng-deep .mat-form-field-subscript-wrapper {
    padding: 0 !important;

    .hintMessage {
        display: flex;
        align-items: start;
    }
}

.iconPosition {
    position: absolute;
    right: 5%;
    top: 28%;
}