.text-styleOnP {
    font-size: 18px;
    line-height: 26px;
    padding: 1.5rem 1rem 0;
    margin-bottom: 0;
}

.cross-position {
    position: absolute;
    top: 50%;
    right: 4%;
    transform: translateY(-50%);
}