<div class="card py-4">
  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between center" fxLayoutAlign.lt-md="start start">
    <h2 class="font-w-600 main-color fs-24"><img class="cursor mb-1" src="../../../../assets/logos/arrow-backP.svg"
        routerLink="/profile">
      <!-- <i class="fa-solid fa-arrow-left cursor text-dark" routerLink="/profile" ></i> -->
      &nbsp;Change Password</h2>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
      <button class="btn btn-newPrimary btncolor" (click)="changePassword()">Change Password</button>&nbsp;&nbsp;
      <button class="btn btnborder" routerLink="/profile">Cancel</button>
    </div>
  </div>
  <form [formGroup]="formGroup">
    <div class="mt-2 main-color">
      <div fxLayout="row">
        <div fxFlex="50%" fxFlex.lt-lg="100%" fxLayout.lt-md="column" fxLayoutAlign="start">
          <h3 fxFlex="30%" class="mb-0 pt-4 font-w-600 fs-20">Old Password </h3>
          <div class="font-w-600 pt-4 fs-20" fxFlex="5%">:</div>
          <mat-form-field appearance="outline" fxFlex="55%" class="input-pdt font-w-600 fs-20">

            <input matInput formControlName="currentPassword" [type]="passwordVisible?'text': 'password'" required>
            <mat-icon matSuffix class="secondary-text cursor-pointer" (click)="passwordVisible=!passwordVisible"
              [title]="passwordVisible?'Hide Password':'Show Password'">
              <!-- {{passwordVisible?"visibility":"visibility_off"}} -->
              <img class="eye-icon-pos"
                [src]="passwordVisible? '../../../../assets/logos/Eye.svg' : '../../../../assets/logos/Hide-eye.svg' "
                alt="eye">
            </mat-icon>
            <mat-error>
              <show-error requiredMsg="Please enter your old password"
                [formControlErr]="formGroup.controls.currentPassword">
              </show-error>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row">
        <div fxFlex="50%" fxFlex.lt-lg="100%" fxLayout.lt-md="column" fxLayoutAlign="start">
          <h3 fxFlex="30%" class="mb-0 pt-4 font-w-600 fs-20">New Password </h3>
          <div class="font-w-600 pt-4 fs-20" fxFlex="5%">:</div>
          <mat-form-field appearance="outline" fxFlex="55%" class="input-pdt font-w-600 fs-20">

            <input matInput formControlName="password" [type]="passwordVisible1?'text': 'password'" required>
            <mat-hint align="start" class="hintMessage">
              <img class="" src="../../../../assets/logos/Info.svg">
              &nbsp; <span class="hint-text">Password must be between 8 to 25 characters including upper case and lower
                case, at least one number and one special character</span>
            </mat-hint>
            <mat-icon matSuffix class="secondary-text cursor-pointer" (click)="passwordVisible1=!passwordVisible1"
              [title]="passwordVisible1?'Hide Password':'Show Password'">
              <!-- {{passwordVisible1?"visibility":"visibility_off"}} -->
              <img class="eye-icon-pos"
                [src]="passwordVisible1? '../../../../assets/logos/Eye.svg' : '../../../../assets/logos/Hide-eye.svg' "
                alt="">
            </mat-icon>
            <mat-error>
              <mat-hint align="start" class="hintMessage">
                <img class="" src="../../../../assets/logos/Info.svg">
                &nbsp; <span class="hint-text">Password must be between 8 to 25 characters including upper case and
                  lower case, at least one number and one special character</span>
              </mat-hint>
              <show-error requiredMsg="Please enter your new password" [formControlErr]="formGroup.controls.password"
                patternMsg="Please enter a valid password" maxLengthMsg="Please enter a valid password">
              </show-error>
            </mat-error>
            <!-- <mat-error *ngIf="formGroup.controls.password.errors?.maxlength" >
            <p class="font1">Password can be max 25 characters long only.</p>
      </mat-error> -->
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row">
        <div fxFlex="50%" fxFlex.lt-lg="100%" fxLayout.lt-md="column" fxLayoutAlign="start">
          <h3 fxFlex="30%" class="mb-0 pt-4 font-w-600 fs-20">Confirm Password </h3>
          <div class="font-w-600 pt-4 fs-20" fxFlex="5%">:</div>
          <mat-form-field appearance="outline" fxFlex="55%" class="input-pdt font-w-600 fs-20">

            <input matInput formControlName="cPassword" [type]="passwordVisible2?'text': 'password'" required>
            <mat-icon matSuffix class="secondary-text cursor-pointer" (click)="passwordVisible2=!passwordVisible2"
              [title]="passwordVisible2?'Hide Password':'Show Password'">
              <!-- {{passwordVisible2?"visibility":"visibility_off"}} -->
              <img class="eye-icon-pos"
                [src]="passwordVisible2? '../../../../assets/logos/Eye.svg' : '../../../../assets/logos/Hide-eye.svg' "
                alt="">
            </mat-icon>
            <mat-error
              *ngIf="controlHasError('confirmPassword', 'cPassword') && !formGroup.controls.cPassword.hasError('required')">
              Your password and confirmation password do not match.
            </mat-error>
            <mat-error>
              <show-error requiredMsg="Please enter your password again"
                [formControlErr]="formGroup.controls.cPassword">
              </show-error>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
  </form>

</div>