:host ::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0;
}

.hint-text {
    color: #000000d6;
    font-size: 14px;
    font-weight: 500;
}

.hint-text-icon {
    background-color: #000000d6;
    color: white;
    border-radius: 50%;
    padding: 3px 8px;
}

:host ::ng-deep .mat-form-field-subscript-wrapper {
    padding: 0 !important;

    .hintMessage {
        display: flex;
        align-items: start;
    }
}