<div class="popup-card">
  <form [formGroup]="formGroup">

    <!-- New Password -->
    <div class="password-row">
      <div class="password-label">New Password</div>
      <div class="password-colon">:</div>

      <mat-form-field appearance="outline"
                      class="password-field input-pdt font-w-600 fs-20">
        <input matInput
               formControlName="password"
               [type]="passwordVisible1 ? 'text' : 'password'"
               required
               autocomplete = "new-password">

        <mat-hint class="hintMessage">
          <img src="../../../../assets/logos/Info.svg">
          <span class="hint-text">
            Password must be between 8 to 25 characters including upper case and lower
            case, at least one number and one special character
          </span>
        </mat-hint>

        <mat-icon matSuffix
                  class="secondary-text cursor-pointer"
                  (click)="passwordVisible1 = !passwordVisible1"
                  [title]="passwordVisible1 ? 'Hide Password' : 'Show Password'">
          <img class="eye-icon-pos"
               [src]="passwordVisible1
                 ? '../../../../assets/logos/Eye.svg'
                 : '../../../../assets/logos/Hide-eye.svg'">
        </mat-icon>
      </mat-form-field>
    </div>

    <!-- Confirm Password -->
    <div class="password-row">
      <div class="password-label">Confirm Password</div>
      <div class="password-colon">:</div>

      <mat-form-field appearance="outline"
                      class="password-field input-pdt font-w-600 fs-20">
        <input matInput
               formControlName="cPassword"
               [type]="passwordVisible2 ? 'text' : 'password'"
               required
               autocomplete = "new-password">

        <mat-icon matSuffix
                  class="secondary-text cursor-pointer"
                  (click)="passwordVisible2 = !passwordVisible2"
                  [title]="passwordVisible2 ? 'Hide Password' : 'Show Password'">
          <img class="eye-icon-pos"
               [src]="passwordVisible2
                 ? '../../../../assets/logos/Eye.svg'
                 : '../../../../assets/logos/Hide-eye.svg'">
        </mat-icon>
      </mat-form-field>
    </div>

    <!-- Buttons -->
    <div class="popup-actions">
      <button class="btn btn-newPrimary btncolor"
              type="button"
              (click)="changePassword()"
              [disabled]="isLoading">
        Reset Password
      </button>

      <button class="btn btnborder"
              type="button"
              (click)="onCancel()">
        Cancel
      </button>
    </div>

  </form>
</div>
