.bgcolor {
  filter: sepia(100%) hue-rotate(190deg) saturate(500%);
}

:host ::ng-deep .mat-form-field-subscript-wrapper {
  padding: 0 !important;

  .hintMessage {
    display: flex;
    align-items: start;
  }
}

.hint-text {
  color: #000000d6;
  font-size: 14px;
  font-weight: 500;
}