.btn-archive {
    background-color: #EC3535;
    border: 1px solid white;
}

.tag-style {
    position: absolute;
    right: 3.5%;
    padding: 0.5rem 0.8rem;
    background: #4e9af6f5;
    color: #fff;
    border-radius: 8px;
}