.textcolor {
    color:
        #407EC9;
    // font-size: 20px !important;
}

.fs-20 {
    font-size: 20px !important;
}

.fs-18 {
    font-size: 18px !important;

    @media screen and (max-width: 1440px) {
        font-size: 16px !important;
    }
}