

* {
    margin: 0;
    padding: 0;
    // border-radius: 8px;
}

.buttonok {
    border: 1px solid white;
    border-radius: 6px;
    background-color: #3D7CCA;
    color: #ffffff;
}

.buttonreprint {
    border: 1px solid #8FABC9;
    border-radius: 6px;
    color: #8FABC9;
}

