.label-position {

    transform: translateY(15px);

}

.hint-text {
    color: #000000d6;
    font-size: 14px;
    font-weight: 400;
}

.hint-text-icon {
    background-color: #000000d6;
    color: white;
    border-radius: 50%;
    padding: 3px 8px;
}

.right-arrow {
    border-radius: 50%;
    color: white;
    padding: 6px 8px;
    background-color: #3D7CCA;
}

.q-number {
    background-color: #8FABC9;
    color: white;
    border-radius: 5px;
    padding: 5px 15px
}

.quilt-position {
    transform: translateY(-14px);
}

.quilt-dot-position {
    transform: translateY(-22px);
}

.error {
    text-align: left;
    color: #f64e60;
    font-size: 14px;
    font-weight: 500;
}

.d-flex {
    gap: unset;
}

.mb-xl-6 {
    @media only screen and (min-width: 1440px) {
        margin-bottom: .6rem !important;
    }
}

:host ::ng-deep .map-container {
    height: 400px !important;
    width: inherit !important;

    @media screen and (max-width: 1440px) {
        height: 261px !important;
    }
}

:host ::ng-deep .mat-form-field-subscript-wrapper {
    padding: 0 !important;

    .hintMessage {
        display: flex;
        align-items: start;
    }
}


@media only screen and (max-width: 1440px) {
    img.cursor {
        width: 25px;
    }
}

.scannerSize {
    height: 70%;
    width: 50%;
}