<div class="container-fluid">
  <div class="row">
    <div class="column">
      <img class="logo-map" src="../../../../assets/logos/world mapS.svg">
      <img class="logo" src="../../../../assets/logos/LogoS.svg">
    </div>
    <div class="column1 bg-white flex-column">
    <div class="login-wrapper">
      <p class="firsttext mb-2">Forgot Password</p>
      <p class="secondtext mb-4">Please enter your valid email address to get the reset password link</p>
      <form>
          <mat-form-field appearance="outline">
            <mat-label class="labelcolor">Email Address</mat-label>
            <mat-icon matPrefix class="user-prefix"><img src="../../../../assets/logos/user-line.svg" alt=""></mat-icon>
            <input [formControl]="email" required matInput>

            <mat-error>
              <show-error requiredMsg="Email is required or has an invalid value. Please correct."
                [formControlErr]="email"
                patternMsg="Email is required or has an invalid value. Please correct.">
              </show-error>
            </mat-error>
          </mat-form-field>
        <div class="mt-5 text-right">
          <button type="submit" id="kt_login_signin_submit" (click)="callForgotPasswordApi()"
            class="btn btn-newPrimary font-weight-bolder font-size-h6 pt-3 pb-3 mt-3 buttonclr w-87 fw-bold">
            Continue
          </button>
        </div>
        <div class="mt-5">
          <div class="cursor d-inline-block" routerLink="/auth/login"><img class="mb-1" src="../../../../assets/logos/arrow-back-blue.svg">  <span class="back-btn"> Back to Login</span></div>
        </div>
        <!-- <div class="text-right">
          <button type="submit" id="kt_login_signin_submit" routerLink="/auth/login"
            class=" example-full-width btn btnborder font-weight-bolder font-size-h6 pt-3 pb-3 mt-3 ">
            cancel
          </button>
        </div> -->
      </form>
    </div>
  </div>
  </div>
</div>