<div class="content-wrapper pb-4" [formGroup]="distributionListForm">
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between center">
        <div fxFlex="50%" fxLayoutAlign.lt-md="center center">
            <mat-form-field appearance="outline" class="input-pdt fs-16 searchBox">
                <mat-icon matPrefix class="sub-prefix">search</mat-icon>
                <input matInput formControlName="searchBy" placeholder="Search" trimValue>
                <mat-icon *ngIf="distributionListForm?.controls?.searchBy?.value?.length > 0" matSuffix
                    class="sub-prefix cursor" (click)="searchReset()">clear</mat-icon>
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="end center" fxLayoutAlign.lt-md="start center" fxLayout.lt-sm="column">
            <button class="btn btn-newPrimary p-12 text-white btncolor" routerLink="/distribution-list/add-list">Add New
                List</button>
        </div>
    </div>

    <div class="card px-3 mt-3 pt-3 pb-0 table-responsive">
        <table class="table mb-4">
            <thead>
              <tr class="tablelight text-center">
                <th>
                  Sr. No.
                </th>
                <!-- List Name -->
                <th (click)="sort('name')" class="cursor">
                  <div class="list-name-header text-center">
                    List Name
                    <i class="fa fa-sort ms-2" aria-hidden="true"></i>
                  </div>
                </th>
                <!-- List Owner -->
                <th (click)="sort('ownerName')" class="cursor">
                  <div class="list-ownerName-header text-center">
                    List Owner
                    <i class="fa fa-sort ms-2" aria-hidden="true"></i>
                  </div>
                </th>
                <!-- Date -->
                <th (click)="sort('createdDate')" class="cursor">
                  <div class="list-createdDate-header text-center">
                    Date of Creation
                    <i class="fa fa-sort ms-2" aria-hidden="true"></i>
                  </div>
                </th>
                <th></th>
              </tr>
            </thead>
            <tbody>
                <ng-container *ngIf="items$ | async as distributions;">
                    <ng-container *ngIf="distributions && distributions.length > 0; else noData">
                        <tr class="text-center" *ngFor="let data of distributions;let i = index">
                            <td>
                                {{distributionListForm.controls.pageSize.value *
                                (distributionListForm?.getRawValue()?.pageNumber - 1) + i+ 1}}
                            </td>
                            <td>{{data['name'] || '--'}}</td>
                            <td>
                                {{data['owner'] ? data['owner']['firstName'] : '--'}}
                                {{data['owner'] ? data['owner']['lastName'] : ''}}
                            </td>
                            <td>
                                {{data['createdDate'] ? (data['createdDate'] + 'Z' |date: 'MM/dd/yyyy'):'--'}}
                            </td>
                            <td><img class="cursor lg-w-20" src="../../../../assets/logos/EditP.svg"
                                    [routerLink]="['/distribution-list/edit-list', data['id']]"> &nbsp; <img
                                    class="cursor lg-w-20" src="../../../../assets/logos/DeleteP.svg"
                                    (click)="openConfirmDeleteModal(data['id'])">
                            </td>
                        </tr>
                    </ng-container>

                    <ng-template #noData>
                        <tr>
                            <td colspan="9" class="bg-white">
                                <div class="text-center">
                                    <h3>No data found</h3>
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                </ng-container>
            </tbody>
        </table>
        <mat-paginator [length]="totalLists" [pageIndex]="distributionListForm?.getRawValue()?.pageNumber - 1"
            [pageSize]="distributionListForm.controls.pageSize.value" [pageSizeOptions]="pageSizeOptions"
            (page)="paginator($event)" showFirstLastButtons aria-label="Select page">
        </mat-paginator>
    </div>
</div>
