.mat-form-field-appearance-outline .mat-form-field-wrapper{
    padding-bottom: 0;
}
.circle-checkbox{
  & .mat-checkbox-background, .mat-checkbox-frame {
    border-radius: 50%;
    padding:8px;
  }
}
.w-24{
  width: 24px;
}
